<%- include ("partials/head") %>
<%- include ("partials/blockly") %>

<html style="overflow:hidden;">

<div class="body">
  <table>
    <tbody>
      <tr>
        <td>
          <div style="font-size:30px;display:inline-block;"><%= guildName %> </div>
          <div style="font-size:20px;display:inline-block;color:gray;">(<%= guildId %>)</div>
          <br>
          <a href="/"><button>Back to server list</button></a>
          <% if (invite) { %>
          <a href="invite?guild=<%= guildId %>"><button>Generate invite</button></a>
          <% } %>
          <br>
          <br>
          <form action="/save" method="post" onsubmit="saveConfig()">
            <input type="hidden" name="guild" id="inputGuild" required>
            <input type="hidden" name="xml" id="inputXml" required>
            <input type="submit" id="save" value="Save Configuration">
            <button type="button" id="reset" onclick="resetConfig()">Reset Changes</button>
            <button type="button" id="example" onclick="loadExample()">Load Example</button>
            <a href="/shop?guild=<%= guildId %>"><button type="button" id="shop"
                style="float:right;"><% if (!premium) { %>Get<% } else { %>Manage<% } %> Premium</button></a>
          </form>
          <hr>
        </td>
      </tr>
      <tr>
        <td id="blocklyArea"></td>
      </tr>
      <tr>
        <td style="padding-bottom:38px;"></td>
      </tr>
    </tbody>
  </table>

  <div id="blocklyDiv" style="position:absolute"></div>
  <xml id="toolbox" style="display: none">
    <%- xmlCategoryTree %>
  </xml>
</div>

<%- include ("partials/footer") %>

<script>
  document.getElementById("blocklyDiv").style.height = window.innerHeight - 20 + "px";
  document.getElementById("blocklyDiv").style.width = window.innerWidth - 20 + "px";

  Blockly.Msg["COLOUR_BLEND_COLOUR1"] = "color 1";
  Blockly.Msg["COLOUR_BLEND_COLOUR2"] = "color 2";
  Blockly.Msg["COLOUR_BLEND_TOOLTIP"] = "Blends two colors together with a given ratio (0.0 - 1.0).";
  Blockly.Msg["COLOUR_PICKER_HELPURL"] = "https://en.wikipedia.org/wiki/Color";
  Blockly.Msg["COLOUR_PICKER_TOOLTIP"] = "Choose a color from the palette.";
  Blockly.Msg["COLOUR_RANDOM_HELPURL"] = "http://randomcolour.com";
  Blockly.Msg["COLOUR_RANDOM_TITLE"] = "random color";
  Blockly.Msg["COLOUR_RANDOM_TOOLTIP"] = "Choose a color at random.";
  Blockly.Msg["COLOUR_RGB_TITLE"] = "color with";
  Blockly.Msg["COLOUR_RGB_TOOLTIP"] = "Create a color with the specified amount of red, green, and blue. All values must be between 0 and 100.";
  Blockly.Msg["NEW_COLOUR_VARIABLE"] = "Create color variable...";
  Blockly.Msg["LISTS_SET_INDEX_INPUT_TO"] = "to";

  var orig_generateContextMenu = Blockly.BlockSvg.prototype.generateContextMenu;
  Blockly.BlockSvg.prototype.generateContextMenu = function () {
    var menuItems = orig_generateContextMenu.call(this);
    return menuItems.filter(m => m.text != Blockly.Msg["EXTERNAL_INPUTS"]).filter(m => m.enabled || m.text != Blockly.Msg["HELP"]);
  };

  <% for (var v of blocks) { %>
  <% if (v.default) continue; %>
    Blockly.Blocks["<%= v.type %>"] = {
      init: function () {
        this.jsonInit(JSON.parse(decode('<%= JSON.stringify(v) %>')));
      },
    };
  <% } %>

  <% generators.forEach(g => { %>
    Blockly.JavaScript['<%= g.type %>'] = function(block) {
      var _return;
      if (block.returns) eval(decode("<%= g.returnGen %>"));
      else eval(decode("<%= g.generator %>"));
      return _return;
    }
  <% }); %>

  var blocklyArea = document.getElementById('blocklyArea');
  var blocklyDiv = document.getElementById('blocklyDiv');
  var workspace = Blockly.inject(blocklyDiv, {
    maxInstances: JSON.parse(decode('<%= max %>')),
    collapse: false,
    comments: false,
    grid: {
      spacing: 20,
      length: 1,
      color: '#888'
    },
    disable: false,
    scrollbars: true,
    toolbox: document.getElementById('toolbox'),
    trashcan: false, // TODO: Fix trashcan
  });
  document.workspace = workspace;

  var mutatorMax = {};
  <% for (var m of mutators) { %>
    eval(decode(`<%= m %>`));
    for (var block in mutator.blocks) {
      mutatorMax[block] = mutator.blocks[block];
    }
  <% } %>

  var onresize = function (e) {
    var element = blocklyArea;
    var x = 0;
    var y = 0;
    do {
      x += element.offsetLeft;
      y += element.offsetTop;
      element = element.offsetParent;
    } while (element);
    blocklyDiv.style.left = x + 'px';
    blocklyDiv.style.top = y + 'px';
    blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
    blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
    Blockly.svgResize(workspace);
  };
  window.addEventListener('resize', onresize, false);
  onresize();
  Blockly.svgResize(workspace);

  document.restrictions = JSON.parse(decode('<%= restrictions %>'));

  workspace.addChangeListener(Blockly.Events.disableOrphans);

  if (decode('<%= blocklyXml %>').length > 0) Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom(decode("<%= blocklyXml %>")), workspace);

  setInterval(() => {
    disableUnapplicable({
      type: Blockly.Events.MOVE,
      workspaceId: workspace.id,
    });

    var saveNeedsDisabling = false;
    if (decode("<%= blocklyXml %>") == Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(workspace))) {
      document.getElementById("save").setAttribute("title", "You haven't made any changes!");
      document.getElementById("save").setAttribute("disabled", "true");
      document.getElementById("reset").setAttribute("title", "You haven't made any changes!");
      document.getElementById("reset").setAttribute("disabled", "true");
      saveNeedsDisabling = true;
    }
    for (var block of workspace.getAllBlocks(false)) {
      if (block.warning && !block.disabled) {
        document.getElementById("save").setAttribute("title", "Cannot save if there are errors!");
        document.getElementById("save").setAttribute("disabled", "true");
        return;
      }
    }
    if (!saveNeedsDisabling) {
      document.getElementById("save").removeAttribute("title");
      document.getElementById("save").removeAttribute("disabled");
      document.getElementById("reset").removeAttribute("title");
      document.getElementById("reset").removeAttribute("disabled");
    }

    if (decode("<%= exampleXml %>") == Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(workspace))) {
      document.getElementById("example").setAttribute("title", "The example is already loaded!");
      document.getElementById("example").setAttribute("disabled", "true");
    } else {
      document.getElementById("example").removeAttribute("title");
      document.getElementById("example").removeAttribute("disabled");
    }

    for (var ws of Object.values(Blockly.Workspace.WorkspaceDB_)) {
      var exec;
      if (!ws.options.maxInstances) exec = true;
      ws.options.maxInstances = {
        ...JSON.parse(decode('<%= max %>')),
        ...mutatorMax,
      };
      if (exec) {
        ws.topBlocks_[0] ? ws.topBlocks_[0].moveBy(0, 1) : null;
      }

      <% for (var c of colors) { %>
        ws.getBlocksByType("<%= c.type %>").forEach(b => b.setColour("<%= c.color %>"));
      <% } %>
    }

    if (document.getElementById("save").hasAttribute("disabled")) window.onbeforeunload = null;
    else window.onbeforeunload = () => "You have unsaved changes!";
  }, 10);

  function saveConfig() {
    var code = Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(workspace));
    document.getElementById("inputGuild").setAttribute("value", getUrlParameter("guild"));
    document.getElementById("inputXml").setAttribute("value", encodeURIComponent(code));
    window.onbeforeunload = null;
  }

  function resetConfig() {
    window.onbeforeunload = null;
    window.location.reload(false);
  }

  function loadExample() {
    document.workspace.clear();
    Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom(decode("<%= exampleXml %>")), workspace);
  }
</script>
